<h1>Editing monitor_record</h1>

<% form_for(@monitor_record) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :completed %><br />
    <%= f.check_box :completed %>
  </p>
  <p>
    <%= f.label :tweets_sent %><br />
    <%= f.text_field :tweets_sent %>
  </p>
  <p>
    <%= f.label :overruns %><br />
    <%= f.text_field :overruns %>
  </p>
  <p>
    <%= f.label :runtime %><br />
    <%= f.text_field :runtime %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @monitor_record %> |
<%= link_to 'Back', monitor_records_path %>